<a href="https://colab.research.google.com/github/antussa2016/msc_project/blob/master/tweet_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import re
import os

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Demo_dataframe.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1247 entries, 0 to 1246
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Twitter ID              1247 non-null   object
 1   big5_openness           1247 non-null   float64
 2   big5_conscientiousness  1247 non-null   float64
 3   big5_extraversion       1247 non-null   float64
 4   big5_agreeableness      1247 non-null   float64
 5   big5_neuroticism        1247 non-null   float64
 6   class_label             1247 non-null   object
 7   Reputation              1247 non-null   float64
 8   Question                1247 non-null   float64
 9   Answer                  1247 non-null   float64
 10  Bert_encoding           1247 non-null   object
 11  Twitter_sername         1247 non-null   object
 12  New_encoded_values      1247 non-null   object
dtypes: float64(8), object(5)
memory usage: 126.8+ KB

# **delete duplicates**

In [5]:
cols_to_check = ['Twitter ID']

# Drop the duplicates
df = df.drop_duplicates(subset=cols_to_check, keep='first')

# Write the cleaned dataset to a new file

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805 entries, 0 to 1245
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Twitter ID              805 non-null    object
 1   big5_openness           805 non-null    float64
 2   big5_conscientiousness  805 non-null    float64
 3   big5_extraversion       805 non-null    float64
 4   big5_agreeableness      805 non-null    float64
 5   big5_neuroticism        805 non-null    float64
 6   class_label             805 non-null    object
 7   Reputation              805 non-null    float64
 8   Question                805 non-null    float64
 9   Answer                  805 non-null    float64
 10  Bert_encoding           805 non-null    object
 11  Twitter_sername         805 non-null    object
 12  New_encoded_values      805 non-null    object
dtypes: float64(8), object(5)
memory usage: 88.0+ KB

In [7]:
df1=pd.read_csv('/content/drive/MyDrive/changed_encoded_files.csv')

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963 entries, 0 to 962
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   File name         963 non-null    object
 1   new_column        963 non-null    object
 2   new_name1         963 non-null    object
 3   Extracting_name1  963 non-null    object
dtypes: object(4)
memory usage: 30.2+ KB

In [9]:
df1['Extracting_name1'] = df1['Extracting_name1'].replace('stienmantweet', 'stienman')

In [10]:
df1['Extracting_name1'] = df1['Extracting_name1'].replace('bi', 'tweetsbi')

In [11]:
k = 2
i = 2

new_column = []
for index, row in df.iterrows():
    print("1st loop",i)
    
    j = 0
    p=0
    for value in df1["Extracting_name1"]:
        if j == 0:
            if row['Twitter_sername'] == value:
                # print( f"{row['Twitter_sername']}",value,k,"main dataframe", i)
                
                # print("2nd loop",k)
                k+=1

                name1= df1["File name"][p]
                new_column.append(name1)
                j += 1
                
            else:
                p += 1
                continue
                # print(f"{row2}")
                print("NaN")
        p += 1
    i += 1
        
df['File name']=new_column

1st loop 2
jonskeet jonskeet 2 main dataframe 2
2nd loop 2
1st loop 3
OmniFaces OmniFaces 3 main dataframe 3
2nd loop 3
1st loop 4
VonC VonC 4 main dataframe 4
2nd loop 4
1st loop 5
marcgravell marcgravell 5 main dataframe 5
2nd loop 5
1st loop 6
commonsguy commonsguy 6 main dataframe 6
2nd loop 6
1st loop 7
zopatista zopatista 7 main dataframe 7
2nd loop 7
1st loop 8
tjcrowder tjcrowder 8 main dataframe 8
2nd loop 8
1st loop 9
Schabse Schabse 9 main dataframe 9
2nd loop 9
1st loop 10
ghewgill ghewgill 10 main dataframe 10
2nd loop 10
1st loop 11
aleaxit aleaxit 11 main dataframe 11
2nd loop 11
1st loop 12
dasblinkenlight dasblinkenlight 12 main dataframe 12
2nd loop 12
1st loop 13
cmsalvado cmsalvado 13 main dataframe 13
2nd loop 13
1st loop 14
jaredpar jaredpar 14 main dataframe 14
2nd loop 14
1st loop 15
fkling fkling 15 main dataframe 15
2nd loop 15
1st loop 16
gustafhl gustafhl 16 main dataframe 16
2nd loop 16
1st loop 17
jbnizet jbnizet 17 main dataframe 17
2nd loop 17
1st loop 18
ericlippert ericlippert 18 main dataframe 18
2nd loop 18
1st loop 19
NickCraver NickCraver 19 main dataframe 19
2nd loop 19
1st loop 20
anubhava anubhava 20 main dataframe 20
2nd loop 20
1st loop 21
NOVALISTIC NOVALISTIC 21 main dataframe 21
2nd loop 21
1st loop 22
vwrangler vwrangler 22 main dataframe 22
2nd loop 22
1st loop 23
hashpling hashpling 23 main dataframe 23
2nd loop 23
1st loop 24
davidheff davidheff 24 main dataframe 24
2nd loop 24
1st loop 25
mwulftange mwulftange 25 main dataframe 25
2nd loop 25
1st loop 26
pthivent pthivent 26 main dataframe 26
2nd loop 26
1st loop 27
reedcopsey reedcopsey 27 main dataframe 27
2nd loop 27
1st loop 28
danielroseman danielroseman 28 main dataframe 28
2nd loop 28
1st loop 29
PeterLawrey PeterLawrey 29 main dataframe 29
2nd loop 29
1st loop 30
jfriend jfriend 30 main dataframe 30
2nd loop 30
1st loop 31
tvanfosson tvanfosson 31 main dataframe 31
2nd loop 31
1st loop 32
OdedCoster OdedCoster 32 main dataframe 32
2nd loop 32
1st loop 33
jlitb jlitb 33 main dataframe 33
2nd loop 33
1st loop 34
kennytm kennytm 34 main dataframe 34
2nd loop 34
1st loop 35
klmr klmr 35 main dataframe 35
2nd loop 35
1st loop 36
deceze deceze 36 main dataframe 36
2nd loop 36
1st loop 37
mysticial mysticial 37 main dataframe 37
2nd loop 37
1st loop 38
billkarwin billkarwin 38 main dataframe 38
2nd loop 38
1st loop 39
bergibergos bergibergos 39 main dataframe 39
2nd loop 39
1st loop 40
spadgos spadgos 40 main dataframe 40
2nd loop 40
1st loop 41
aiiane aiiane 41 main dataframe 41
2nd loop 41
1st loop 42
pekkagaiser pekkagaiser 42 main dataframe 42
2nd loop 42
1st loop 43
alexdickson alexdickson 43 main dataframe 43
2nd loop 43
1st loop 44
skaffman skaffman 44 main dataframe 44
2nd loop 44
1st loop 45
pascalmartin pascalmartin 45 main dataframe 45
2nd loop 45
1st loop 46
gzoechi gzoechi 46 main dataframe 46
2nd loop 46
1st loop 47
arunpjohny arunpjohny 47 main dataframe 47
2nd loop 47
1st loop 48
unwind unwind 48 main dataframe 48
2nd loop 48
1st loop 49
jcoehoorn jcoehoorn 49 main dataframe 49
2nd loop 49
1st loop 50
adamhiker adamhiker 50 main dataframe 50
2nd loop 50
1st loop 51
robertmryan robertmryan 51 main dataframe 51
2nd loop 51
1st loop 52
jpileborg jpileborg 52 main dataframe 52
2nd loop 52
1st loop 53
sarfraznawaz sarfraznawaz 53 main dataframe 53
2nd loop 53
1st loop 54
gmannickg gmannickg 54 main dataframe 54
2nd loop 54
1st loop 55
mhl mhl 55 main dataframe 55
2nd loop 55
1st loop 56
karim karim 56 main dataframe 56
2nd loop 56
1st loop 57
lizardbill lizardbill 57 main dataframe 57
2nd loop 57
1st loop 58
lassevk lassevk 58 main dataframe 58
2nd loop 58
1st loop 59
jwmittag jwmittag 59 main dataframe 59
2nd loop 59
1st loop 60
aSteveCleary aSteveCleary 60 main dataframe 60
2nd loop 60
1st loop 61
JamesMcNellis JamesMcNellis 61 main dataframe 61
2nd loop 61
1st loop 62
Molybdenum Molybdenum 62 main dataframe 62
2nd loop 62
1st loop 63
eddelbuettel eddelbuettel 63 main dataframe 63
2nd loop 63
1st loop 64
DenysSeguret DenysSeguret 64 main dataframe 64
2nd loop 64
1st loop 65
sehetw sehetw 65 main dataframe 65
2nd loop 65
1st loop 66
raybellis raybellis 66 main dataframe 66
2nd loop 66
1st loop 67
dvassallo dvassallo 67 main dataframe 67
2nd loop 67
1st loop 68
tnurkiewicz tnurkiewicz 68 main dataframe 68
2nd loop 68
1st loop 69
whattheheadsaid whattheheadsaid 69 main dataframe 69
2nd loop 69
1st loop 70
gooh gooh 70 main dataframe 70
2nd loop 70
1st loop 71
nedbat nedbat 71 main dataframe 71
2nd loop 71
1st loop 72
Tomalak Tomalak 72 main dataframe 72
2nd loop 72
1st loop 73
brianbondy brianbondy 73 main dataframe 73
2nd loop 73
1st loop 74
dcsobral dcsobral 74 main dataframe 74
2nd loop 74
1st loop 75
tpdown tpdown 75 main dataframe 75
2nd loop 75
1st loop 76
pietzcker pietzcker 76 main dataframe 76
2nd loop 76
1st loop 77
rorymccrossan rorymccrossan 77 main dataframe 77
2nd loop 77
1st loop 78
puf puf 78 main dataframe 78
2nd loop 78
1st loop 79
rusanu rusanu 79 main dataframe 79
2nd loop 79
1st loop 80
lordelph lordelph 80 main dataframe 80
2nd loop 80
1st loop 81
jxxf jxxf 81 main dataframe 81
2nd loop 81
1st loop 82
ThiefMaster ThiefMaster 82 main dataframe 82
2nd loop 82
1st loop 83
thomaslevesque thomaslevesque 83 main dataframe 83
2nd loop 83
1st loop 84
oldJavaGuy oldJavaGuy 84 main dataframe 84
2nd loop 84
1st loop 85
davedelong davedelong 85 main dataframe 85
2nd loop 85
1st loop 86
phrogz phrogz 86 main dataframe 86
2nd loop 86
1st loop 87
jonathansampson jonathansampson 87 main dataframe 87
2nd loop 87
1st loop 88
poke poke 88 main dataframe 88
2nd loop 88
1st loop 89
jnareb jnareb 89 main dataframe 89
2nd loop 89
1st loop 90
manojlds manojlds 90 main dataframe 90
2nd loop 90
1st loop 91
JohnLaRooy JohnLaRooy 91 main dataframe 91
2nd loop 91
1st loop 92
CrshOverride CrshOverride 92 main dataframe 92
2nd loop 92
1st loop 93
cocoaphony cocoaphony 93 main dataframe 93
2nd loop 93
1st loop 94
vinkoid vinkoid 94 main dataframe 94
2nd loop 94
1st loop 95
tomaspetricek tomaspetricek 95 main dataframe 95
2nd loop 95
1st loop 96
ThemesGuide ThemesGuide 96 main dataframe 96
2nd loop 96
1st loop 97
richiehindle richiehindle 97 main dataframe 97
2nd loop 97
1st loop 98
LokiAstari LokiAstari 98 main dataframe 98
2nd loop 98
1st loop 99
craigndq craigndq 99 main dataframe 99
2nd loop 99
1st loop 100
luchiangrig luchiangrig 100 main dataframe 100
2nd loop 100
1st loop 101
tarynpivots tarynpivots 101 main dataframe 101
2nd loop 101
1st loop 102
zerkms zerkms 102 main dataframe 102
2nd loop 102
1st loop 103
drewnoakes drewnoakes 103 main dataframe 103
2nd loop 103
1st loop 104
BarryRevzin BarryRevzin 104 main dataframe 104
2nd loop 104
1st loop 105
mureinik mureinik 105 main dataframe 105
2nd loop 105
1st loop 106
aaronchall aaronchall 106 main dataframe 106
2nd loop 106
1st loop 107
stymiee stymiee 107 main dataframe 107
2nd loop 107
1st loop 108
ploeh ploeh 108 main dataframe 108
2nd loop 108
1st loop 109
cky cky 109 main dataframe 109
2nd loop 109
1st loop 110
danabramov danabramov 110 main dataframe 110
2nd loop 110
1st loop 111
oscarlopez oscarlopez 111 main dataframe 111
2nd loop 111
1st loop 112
MarkBaker MarkBaker 112 main dataframe 112
2nd loop 112
1st loop 113
PaulTRussell PaulTRussell 113 main dataframe 113
2nd loop 113
1st loop 114
glennj glennj 114 main dataframe 114
2nd loop 114
1st loop 115
elibendersky elibendersky 115 main dataframe 115
2nd loop 115
1st loop 116
minitechme minitechme 116 main dataframe 116
2nd loop 116
1st loop 117
dfourthi dfourthi 117 main dataframe 117
2nd loop 117
1st loop 118
tweetsbi tweetsbi 118 main dataframe 118
2nd loop 118
1st loop 119
dfsq dfsq 119 main dataframe 119
2nd loop 119
1st loop 120
mabster mabster 120 main dataframe 120
2nd loop 120
1st loop 121
rmartinhof rmartinhof 121 main dataframe 121
2nd loop 121
1st loop 122
chrisdpratt chrisdpratt 122 main dataframe 122
2nd loop 122
1st loop 123
bradlarson bradlarson 123 main dataframe 123
2nd loop 123
1st loop 124
echoroba echoroba 124 main dataframe 124
2nd loop 124
1st loop 125
stevefenton stevefenton 125 main dataframe 125
2nd loop 125
1st loop 126
RichFelker RichFelker 126 main dataframe 126
2nd loop 126
1st loop 127
michmyers michmyers 127 main dataframe 127
2nd loop 127
1st loop 128
josephsilber josephsilber 128 main dataframe 128
2nd loop 128
1st loop 129
DietrichEpp DietrichEpp 129 main dataframe 129
2nd loop 129
1st loop 130
ephemient ephemient 130 main dataframe 130
2nd loop 130
1st loop 131
jesperdj jesperdj 131 main dataframe 131
2nd loop 131
1st loop 132
epascarello epascarello 132 main dataframe 132
2nd loop 132
1st loop 133
cirosantilli cirosantilli 133 main dataframe 133
2nd loop 133
1st loop 134
ichoran ichoran 134 main dataframe 134
2nd loop 134
1st loop 135
davidpdonahue davidpdonahue 135 main dataframe 135
2nd loop 135
1st loop 136
thetrueaplus thetrueaplus 136 main dataframe 136
2nd loop 136
1st loop 137
LilyInTech LilyInTech 137 main dataframe 137
2nd loop 137
1st loop 138
templth templth 138 main dataframe 138
2nd loop 138
1st loop 139
weppos weppos 139 main dataframe 139
2nd loop 139
1st loop 140
rkeithhill rkeithhill 140 main dataframe 140
2nd loop 140
1st loop 141
marcelocantos marcelocantos 141 main dataframe 141
2nd loop 141
1st loop 142
kentboogaart kentboogaart 142 main dataframe 142
2nd loop 142
1st loop 143
rkennedy rkennedy 143 main dataframe 143
2nd loop 143
1st loop 144
datibbaw datibbaw 144 main dataframe 144
2nd loop 144
1st loop 145
basarat basarat 145 main dataframe 145
2nd loop 145
1st loop 146
oscarryz oscarryz 146 main dataframe 146
2nd loop 146
1st loop 147
downwind downwind 147 main dataframe 147
2nd loop 147
1st loop 148
ceejayoz ceejayoz 148 main dataframe 148
2nd loop 148
1st loop 149
xcskipaul xcskipaul 149 main dataframe 149
2nd loop 149
1st loop 150
joshuaulrich joshuaulrich 150 main dataframe 150
2nd loop 150
1st loop 151
robertklep robertklep 151 main dataframe 151
2nd loop 151
1st loop 152
ircmaxell ircmaxell 152 main dataframe 152
2nd loop 152
1st loop 153
davenewton davenewton 153 main dataframe 153
2nd loop 153
1st loop 154
dirvo dirvo 154 main dataframe 154
2nd loop 154
1st loop 155
lsdabus lsdabus 155 main dataframe 155
2nd loop 155
1st loop 156
JoelKatz JoelKatz 156 main dataframe 156
2nd loop 156
1st loop 157
jamesallardice jamesallardice 157 main dataframe 157
2nd loop 157
1st loop 158
phenxdesign phenxdesign 158 main dataframe 158
2nd loop 158
1st loop 159
revoandrie revoandrie 159 main dataframe 159
2nd loop 159
1st loop 160
ucfagls ucfagls 160 main dataframe 160
2nd loop 160
1st loop 161
coobirdnet coobirdnet 161 main dataframe 161
2nd loop 161
1st loop 162
pablojavierpy pablojavierpy 162 main dataframe 162
2nd loop 162
1st loop 163
plantpurecode plantpurecode 163 main dataframe 163
2nd loop 163
1st loop 164
praveenscience praveenscience 164 main dataframe 164
2nd loop 164
1st loop 165
timyates timyates 165 main dataframe 165
2nd loop 165
1st loop 166
Raynos Raynos 166 main dataframe 166
2nd loop 166
1st loop 167
datenwolf datenwolf 167 main dataframe 167
2nd loop 167
1st loop 168
BinaryMuse BinaryMuse 168 main dataframe 168
2nd loop 168
1st loop 169
phley phley 169 main dataframe 169
2nd loop 169
1st loop 170
eumiro eumiro 170 main dataframe 170
2nd loop 170
1st loop 171
zzzzBov zzzzBov 171 main dataframe 171
2nd loop 171
1st loop 172
fmork fmork 172 main dataframe 172
2nd loop 172
1st loop 173
ShrapnelCol ShrapnelCol 173 main dataframe 173
2nd loop 173
1st loop 174
martonkodok martonkodok 174 main dataframe 174
2nd loop 174
1st loop 175
bdoughan bdoughan 175 main dataframe 175
2nd loop 175
1st loop 176
thejoshobrien thejoshobrien 176 main dataframe 176
2nd loop 176
1st loop 177
shog shog 177 main dataframe 177
2nd loop 177
1st loop 178
dotNETJunkie dotNETJunkie 178 main dataframe 178
2nd loop 178
1st loop 179
alanstorm alanstorm 179 main dataframe 179
2nd loop 179
1st loop 180
nneonneo nneonneo 180 main dataframe 180
2nd loop 180
1st loop 181
patrickhofman patrickhofman 181 main dataframe 181
2nd loop 181
1st loop 182
kokkisajee kokkisajee 182 main dataframe 182
2nd loop 182
1st loop 183
donsbot donsbot 183 main dataframe 183
2nd loop 183
1st loop 184
shafikyaghmour shafikyaghmour 184 main dataframe 184
2nd loop 184
1st loop 185
mnpenner mnpenner 185 main dataframe 185
2nd loop 185
1st loop 186
EmEmEff EmEmEff 186 main dataframe 186
2nd loop 186
1st loop 187
olebegemann olebegemann 187 main dataframe 187
2nd loop 187
1st loop 188
burhan burhan 188 main dataframe 188
2nd loop 188
1st loop 189
larsks larsks 189 main dataframe 189
2nd loop 189
1st loop 190
elicourtwright elicourtwright 190 main dataframe 190
2nd loop 190
1st loop 191
jonlin jonlin 191 main dataframe 191
2nd loop 191
1st loop 192
dennisriis dennisriis 192 main dataframe 192
2nd loop 192
1st loop 193
RRUZ RRUZ 193 main dataframe 193
2nd loop 193
1st loop 194
simevidas simevidas 194 main dataframe 194
2nd loop 194
1st loop 195
dbr dbr 195 main dataframe 195
2nd loop 195
1st loop 196
rexm rexm 196 main dataframe 196
2nd loop 196
1st loop 197
ericjohannsen ericjohannsen 197 main dataframe 197
2nd loop 197
1st loop 198
mralin mralin 198 main dataframe 198
2nd loop 198
1st loop 199
craigstuntz craigstuntz 199 main dataframe 199
2nd loop 199
1st loop 200
travisbrown travisbrown 200 main dataframe 200
2nd loop 200
1st loop 201
mstum mstum 201 main dataframe 201
2nd loop 201
1st loop 202
RoutSiddharth RoutSiddharth 202 main dataframe 202
2nd loop 202
1st loop 203
yuvalitzchakov yuvalitzchakov 203 main dataframe 203
2nd loop 203
1st loop 204
laalto laalto 204 main dataframe 204
2nd loop 204
1st loop 205
micke micke 205 main dataframe 205
2nd loop 205
1st loop 206
BrianDukes BrianDukes 206 main dataframe 206
2nd loop 206
1st loop 207
frozenfractal frozenfractal 207 main dataframe 207
2nd loop 207
1st loop 208
pankajparkar pankajparkar 208 main dataframe 208
2nd loop 208
1st loop 209
kcoppock kcoppock 209 main dataframe 209
2nd loop 209
1st loop 210
iconara iconara 210 main dataframe 210
2nd loop 210
1st loop 211
darrelmiller darrelmiller 211 main dataframe 211
2nd loop 211
1st loop 212
pimvdb pimvdb 212 main dataframe 212
2nd loop 212
1st loop 213
XSLTknowmad XSLTknowmad 213 main dataframe 213
2nd loop 213
1st loop 214
maniator maniator 214 main dataframe 214
2nd loop 214
1st loop 215
pramodsankarl pramodsankarl 215 main dataframe 215
2nd loop 215
1st loop 216
heerasheikh heerasheikh 216 main dataframe 216
2nd loop 216
1st loop 217
pkozlowskios pkozlowskios 217 main dataframe 217
2nd loop 217
1st loop 218
jewelsea jewelsea 218 main dataframe 218
2nd loop 218
1st loop 219
focusaurus focusaurus 219 main dataframe 219
2nd loop 219
1st loop 220
denisgobo denisgobo 220 main dataframe 220
2nd loop 220
1st loop 221
techiesourav techiesourav 221 main dataframe 221
2nd loop 221
1st loop 222
alexeyr alexeyr 222 main dataframe 222
2nd loop 222
1st loop 223
mechanicalmeat mechanicalmeat 223 main dataframe 223
2nd loop 223
1st loop 224
cdhowie cdhowie 224 main dataframe 224
2nd loop 224
1st loop 225
consulthys consulthys 225 main dataframe 225
2nd loop 225
1st loop 226
mmjuraszek mmjuraszek 226 main dataframe 226
2nd loop 226
1st loop 227
jjnguy jjnguy 227 main dataframe 227
2nd loop 227
1st loop 228
tonyandrews tonyandrews 228 main dataframe 228
2nd loop 228
1st loop 229
kobi kobi 229 main dataframe 229
2nd loop 229
1st loop 230
adathedev adathedev 230 main dataframe 230
2nd loop 230
1st loop 231
dmarkow dmarkow 231 main dataframe 231
2nd loop 231
1st loop 232
Killerdackel Killerdackel 232 main dataframe 232
2nd loop 232
1st loop 233
tcanens tcanens 233 main dataframe 233
2nd loop 233
1st loop 234
ianhlake ianhlake 234 main dataframe 234
2nd loop 234
1st loop 235
oxbowlakes oxbowlakes 235 main dataframe 235
2nd loop 235
1st loop 236
hszanowski hszanowski 236 main dataframe 236
2nd loop 236
1st loop 237
mathias mathias 237 main dataframe 237
2nd loop 237
1st loop 238
sinanunur sinanunur 238 main dataframe 238
2nd loop 238
1st loop 239
loganfsmyth loganfsmyth 239 main dataframe 239
2nd loop 239
1st loop 240
yurzui yurzui 240 main dataframe 240
2nd loop 240
1st loop 241
vcsjones vcsjones 241 main dataframe 241
2nd loop 241
1st loop 242
richturton richturton 242 main dataframe 242
2nd loop 242
1st loop 243
daguej daguej 243 main dataframe 243
2nd loop 243
1st loop 244
dbush dbush 244 main dataframe 244
2nd loop 244
1st loop 245
atesgoral atesgoral 245 main dataframe 245
2nd loop 245
1st loop 246
trojanfoe trojanfoe 246 main dataframe 246
2nd loop 246
1st loop 247
forloop forloop 247 main dataframe 247
2nd loop 247
1st loop 248
laurence laurence 248 main dataframe 248
2nd loop 248
1st loop 249
tweetxeo tweetxeo 249 main dataframe 249
2nd loop 249
1st loop 250
donalfellows donalfellows 250 main dataframe 250
2nd loop 250
1st loop 251
apneadiving apneadiving 251 main dataframe 251
2nd loop 251
1st loop 252
SeKrebs SeKrebs 252 main dataframe 252
2nd loop 252
1st loop 253
abizern abizern 253 main dataframe 253
2nd loop 253
1st loop 254
briandfoyperl briandfoyperl 254 main dataframe 254
2nd loop 254
1st loop 255
cvtsisd cvtsisd 255 main dataframe 255
2nd loop 255
1st loop 256
gregbacon gregbacon 256 main dataframe 256
2nd loop 256
1st loop 257
wompeter wompeter 257 main dataframe 257
2nd loop 257
1st loop 258
mrry mrry 258 main dataframe 258
2nd loop 258
1st loop 259
AliAkhtar AliAkhtar 259 main dataframe 259
2nd loop 259
1st loop 260
LoicMars LoicMars 260 main dataframe 260
2nd loop 260
1st loop 261
barryjwark barryjwark 261 main dataframe 261
2nd loop 261
1st loop 262
GolezTrol GolezTrol 262 main dataframe 262
2nd loop 262
1st loop 263
smourier smourier 263 main dataframe 263
2nd loop 263
1st loop 264
agstudy agstudy 264 main dataframe 264
2nd loop 264
1st loop 265
AndyProwl AndyProwl 265 main dataframe 265
2nd loop 265
1st loop 266
elwoz elwoz 266 main dataframe 266
2nd loop 266
1st loop 267
anthonywpegram anthonywpegram 267 main dataframe 267
2nd loop 267
1st loop 268
sophiebits sophiebits 268 main dataframe 268
2nd loop 268
1st loop 269
kodehoved kodehoved 269 main dataframe 269
2nd loop 269
1st loop 270
leppie leppie 270 main dataframe 270
2nd loop 270
1st loop 271
bobcrovella bobcrovella 271 main dataframe 271
2nd loop 271
1st loop 272
ellipsix ellipsix 272 main dataframe 272
2nd loop 272
1st loop 273
pareshmayani pareshmayani 273 main dataframe 273
2nd loop 273
1st loop 274
benlesh benlesh 274 main dataframe 274
2nd loop 274
1st loop 275
scottenderle scottenderle 275 main dataframe 275
2nd loop 275
1st loop 276
khenry khenry 276 main dataframe 276
2nd loop 276
1st loop 277
dantao dantao 277 main dataframe 277
2nd loop 277
1st loop 278
ryanbigg ryanbigg 278 main dataframe 278
2nd loop 278
1st loop 279
yhgs yhgs 279 main dataframe 279
2nd loop 279
1st loop 280
coiscir coiscir 280 main dataframe 280
2nd loop 280
1st loop 281
arunsriniv arunsriniv 281 main dataframe 281
2nd loop 281
1st loop 282
mvsamuel mvsamuel 282 main dataframe 282
2nd loop 282
1st loop 283
nicksdjohnson nicksdjohnson 283 main dataframe 283
2nd loop 283
1st loop 284
phpbagpiper phpbagpiper 284 main dataframe 284
2nd loop 284
1st loop 285
seanbright seanbright 285 main dataframe 285
2nd loop 285
1st loop 286
antelopelovefan antelopelovefan 286 main dataframe 286
2nd loop 286
1st loop 287
janosgyerik janosgyerik 287 main dataframe 287
2nd loop 287
1st loop 288
robhruska robhruska 288 main dataframe 288
2nd loop 288
1st loop 289
JRReinhart JRReinhart 289 main dataframe 289
2nd loop 289
1st loop 290
nevanking nevanking 290 main dataframe 290
2nd loop 290
1st loop 291
padolsey padolsey 291 main dataframe 291
2nd loop 291
1st loop 292
gabro gabro 292 main dataframe 292
2nd loop 292
1st loop 293
schwern schwern 293 main dataframe 293
2nd loop 293
1st loop 294
larskotthoff larskotthoff 294 main dataframe 294
2nd loop 294
1st loop 295
gnarf gnarf 295 main dataframe 295
2nd loop 295
1st loop 296
troelskn troelskn 296 main dataframe 296
2nd loop 296
1st loop 297
balarajagopal balarajagopal 297 main dataframe 297
2nd loop 297
1st loop 298

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805 entries, 0 to 1245
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Twitter ID              805 non-null    object
 1   big5_openness           805 non-null    float64
 2   big5_conscientiousness  805 non-null    float64
 3   big5_extraversion       805 non-null    float64
 4   big5_agreeableness      805 non-null    float64
 5   big5_neuroticism        805 non-null    float64
 6   class_label             805 non-null    object
 7   Reputation              805 non-null    float64
 8   Question                805 non-null    float64
 9   Answer                  805 non-null    float64
 10  Bert_encoding           805 non-null    object
 11  Twitter_sername         805 non-null    object
 12  New_encoded_values      805 non-null    object
 13  File name               805 non-null    object
dtypes: float64(8), object(6)
memory usage: 94.3+ KB

In [13]:
folder_path = '/content/drive/MyDrive/tweet1/tweet'

In [26]:
file_names = os.listdir(folder_path)

In [15]:
csv_files = [file_name for file_name in file_names if file_name.endswith('.csv')]

In [16]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [17]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
k = 0
num_words = 0
new_column = []
for index, row in df.iterrows():
    for file_name in csv_files:
        if row['File name'] == file_name:
            df3=file_name
            df3=pd.read_csv(f'/content/drive/MyDrive/tweet1/tweet/{df3}')
            # column=df3['tweet'].name
            
            if ('tweet' in df3.columns) & ('text' not in df3.columns):
                tweets_column = "tweet"
                tokens = df3[tweets_column].apply(word_tokenize)

                # Flatten the list of tokens
                words = [word for tweet in tokens for word in tweet]

                # Remove stopwords and punctuation marks
                stopwords = set(nltk.corpus.stopwords.words('english'))
                words = [word.lower() for word in words if word.isalpha() and word.lower() not in stopwords]

                # Count the number of words
                num_words = len(words)
                # num_tweets += len(df3[tweets_column])
                print("tweet words",num_words,k)
                new_column.append(num_words)
                k +=1
            else:
                tweets_column = "text"
                df4 = pd.DataFrame(df3[tweets_column].dropna().tolist(),columns=['text'])
               
                tokens = df4[tweets_column].apply(word_tokenize)

                # Flatten the list of tokens
                words = [word for tweet in tokens for word in tweet]

                # Remove stopwords and punctuation marks
                stopwords = set(nltk.corpus.stopwords.words('english'))
                words = [word.lower() for word in words if word.isalpha() and word.lower() not in stopwords]

                # Count the number of words
                num_words = len(words)
                
                print("tweet words",num_words,k)
                new_column.append(num_words)
                k +=1




print(num_words)

In [43]:
df['words'] = new_column

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805 entries, 0 to 1245
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Twitter ID              805 non-null    object
 1   big5_openness           805 non-null    float64
 2   big5_conscientiousness  805 non-null    float64
 3   big5_extraversion       805 non-null    float64
 4   big5_agreeableness      805 non-null    float64
 5   big5_neuroticism        805 non-null    float64
 6   class_label             805 non-null    object
 7   Reputation              805 non-null    float64
 8   Question                805 non-null    float64
 9   Answer                  805 non-null    float64
 10  Bert_encoding           805 non-null    object
 11  Twitter_sername         805 non-null    object
 12  New_encoded_values      805 non-null    object
 13  File name               805 non-null    object
 14  words                   805 non-null    int64
dtypes: float64(8), int64(1), object(6)
memory usage: 100.6+ KB

In [46]:

max_tweets =df['words'].min()
max_tweets

68

In [ ]:
k = 0
num_words = 0
new_column = []

for index, row in df.iterrows():
    for file_name in csv_files:
        if row['File name'] == file_name:
            df3=file_name
            df3=pd.read_csv(f'/content/drive/MyDrive/tweet1/tweet/{df3}')
            # column=df3['tweet'].name
           
            if ('tweet' in df3.columns) & ('text' not in df3.columns):
                tweets_column = "tweet"
                num_words = len(df3[tweets_column])
                # num_tweets += len(df3[tweets_column])
                print("total tweet", num_words,k)
                new_column.append(num_words)
                k +=1
            else:
                tweets_column = "text"
              
                num_words = len(df3[tweets_column].dropna().tolist())
                new_column.append(num_words)
                print("total tweet", num_words,k)
                k +=1
               



avg_tweets = num_words / df['File name'].nunique()
print("total and averge tweets",num_words,avg_tweets)

In [48]:
df['tweet_number'] = new_column

In [51]:
max_tweets =df['tweet_number'].max()
print(max_tweets)
min_tweets =df['tweet_number'].min()
print(min_tweets)

3247
9

In [ ]:
k = 0
num_words = 0
new_column = []
total_words = 0

for index, row in df.iterrows():
    for file_name in csv_files:
        if row['File name'] == file_name:
            df3=file_name
            df3=pd.read_csv(f'/content/drive/MyDrive/tweet1/tweet/{df3}')
            # column=df3['tweet'].name
           
            if ('tweet' in df3.columns) & ('text' not in df3.columns):
                tweets_column = "tweet"
                df3['num_words'] = df3[tweets_column].apply(lambda x: len(x.split()))
                total_words += df3['num_words'].sum()
                # num_tweets += len(df3[tweets_column])
                print("total tweet", total_words,k)
                
                k +=1
            else:
                tweets_column = "text"
                df4 = pd.DataFrame(df3[tweets_column].dropna().tolist(),columns=['text'])
                df4['num_words'] = df4[tweets_column].apply(lambda x: len(x.split()))
                total_words += df4['num_words'].sum()
                
                print("total tweet", total_words,k)
                k +=1

print ("total sum of words from tweets",total_words)
print ("Average of words in tweets",total_words/805)

In [ ]:
21211409/805

26349.576397515528

# **Result**



# **Total tweet =  1477924**
average tweets = 1840.503113325031

max number of  tweet of a user = 3247

min number of  tweet of a user =9

# **Total words in tweets = 12710448**

avera of words in tweets of a user = 27015.201242236024

max number of words in tweet of a user = 42123

min number of words in tweet of a user = 68